<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="modal-tab">
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no"><i class="far fa-folder-open"></i></span>
                                    <span class="step_descr">
                                        <small>General Info</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no"><i class="far fa-file-alt"></i></span>
                                    <span class="step_descr">
                                        <small>Contract</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no"><i class="fas fa-cubes"></i></span>
                                    <span class="step_descr">
                                        <small>Product</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4">
                                    <span class="step_no"><i class="fas fa-thumbs-up"></i></span>
                                    <span class="step_descr">
                                        <small>Approval</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <hr class="hr-line"/>
                        @*1 - general info*@
                        <div id="step-1" style="display:block!important"></div>
                        @*2 - contract editor*@
                        <div id="step-2"></div>
                        @*3 - product*@
                        <div id="step-3"></div>
                        @*4 approval*@
                        <div id="step-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



