@model string
@{
    Layout = null;
}

@*Dont update this content!!!!*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">   
    <title>SAM Prime</title>
</head>

<body>
    @Html.Raw(@Model)
</body>

</html>